body{
margin:0;
padding:0;
font-family:Arial,sans-serif;
background:linear-grandient(to right,#fbc2eb,#a6c1ee);
height:100vh;
}
.form-container{
.background-color:#ffffffcc;
padding:30px 40px;
border-radius:12px;
width:350px;
margin60px auto;
box-shadow:0 8px 20px rgba(0,0,0,0.2);
}
h2{
text-align:center;
margin-bottom:20px;
color:#2c3e50;
}
form{
display:flex;
flex-direction:column
;}
label{
,argin:10px 0 5px;
font-weight:bold;
}
input,
padiing:10px;
border-1px solid#ccc;
border-radius:8px;
font-size:16px;
}
button{
margin-top:20px;
padding:12px;
font-size:16px;
border:none;
background-color:#2c3e50;
color:white;
border-radius:8px;
cursor:pointer;
}
button:hover{
bavkground-color:#34495e;
}
