body{
margin:0;
padding:0;
font-family:'Segoe UI',sans-serif:
background:linear-gradient(135deg,#74ebd5,#acb6e5);
height:100vh;
}
.app-container{
display:flex;
justify-content:center;
height:100;
}
.card{
	background-color:#ffffffcc;
	padding:30px40px;
	box-shadow:0 8px 20px rgba(0,0,0,0.15);
	text-align:center;
}
.greeting{
	color#2c3e50;
	margin-buttom:10px;
}
.info
font-size:18px;
color:#34495e;
}